<!-- navbar -->
<div class="topnav" id="myTopnav">
  <a href="#home" ><span class="part1"> Just</span><span class="part2">Park</span></a>    
    <a href="#home" routerLink="/aboutus"   ><i class="fa fa-home"></i>&nbsp;About Us</a>
    <a href="#news" routerLink="/parkingoptions" ><i class="fa fa-car"></i>&nbsp;parking Options</a>
    <a href="#contact" routerLink="/reservations" ><i class="fa fa-id-badge"></i>&nbsp;Reservations</a>
    <a href="#about" routerLink="/location" ><i class="fa fa-map-marker"></i>&nbsp; Location</a>
    <a style="float: right;" href="#about" routerLink="/homepage" ><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
    <!-- <a style="float: right;" href="#about"><i class="fa fa-lock"></i>&nbsp;Login</a> -->
  </div>
  <!-- navbar ends -->
  
  <section class="first">
    <p class="onscreen"><br><br>Parking Options</p>
  </section>
  
  <br><br><br>
  <div class="amenities">
    <p class="heading"><b>Parking Amenities</b></p>
      <!-- discover  start-->
      <div class="grid-container">
        <div class="item1">
          <img src="../../assets/images/icons8-car-badge-96.png" width="130px" alt="moneyTransfer">
          <p class="intro">Guaranteed <br> Reservations</p>
        </div>
        <div class="item2">
          <img src="../../assets/images/icons8-car-battery-96.png" width="130px" alt="moneyTransfer">
          <p class="intro">Free Battery <br>Jump Service</p>
        </div>
        <div class="item3">
          <img src="../../assets/images/icons8-discount-100.png" width="130px" alt="moneyTransfer">
          <p class="intro">Heavy  <br>Discounts</p>
        </div>
        <div class="item4">
          <img src="../../assets/images/icons8-last-24-hours-100.png" width="130px" alt="moneyTransfer">
          <p class="intro">24/7 Customer<br>Service</p>
        </div>
        <div class="item5">
          <img src="../../assets/images/icons8-wheel-96.png" width="130px" alt="moneyTransfer">
          <p class="intro">Free Tire <br>Inflanation Service</p>
        </div>
      </div>
      <!-- discover ends -->
  </div>

<br><br>
  <div class="priceOptions">
    <p class="heading"><b>Parking Options and Rates</b></p>
    <div class="grid-container1">
        <div class="grid-item1">
            <h1 class="rate">&#8377;30/<sub>Day</sub></h1>
            <br>
            <p><b>Premium</b></p>
            <p class="description2">This plan includes all of the services that come with a parking space!</p>
            <br>
            <button class="button">Learn More</button>
            <br>
        </div>
    
        <div class="grid-item1">
            <h1 class="rate">&#8377;18/<sub>Day</sub></h1>
            <br>
            <p><b>Standard</b></p>
            <p class="description2">Get the unlimited time and a regular parking spot at one of the lots.</p>
            <br>
            <button class="button">Learn More</button>
            <br>
        </div>
    
        <div class="grid-item1">
            <h1 class="rate">&#8377;10/<sub>Day</sub></h1>
            <br>
            <p><b>Basic</b></p>
            <p class="description2">A limited plan perfect for a short stay with random parking spots.</p>
            <br>
            <button class="button">Learn More</button>
            <br>
        </div>  
    
        <div class="grid-item1">
            <h1 class="rate">&#8377;6/<sub>Day</sub></h1>
            <br>
            <p><b>Economy</b></p>
            <p class="description2">Get a spot for parking at the time of arrival. No concierge services.</p>
            <br>
            <button class="button">Learn More</button>
            <br>
        </div>
    
    </div>
</div>

  <!-- footer starts -->

<footer class="footer-distributed">

    <div class="footer-left">
      <h3>Just<span>Park</span></h3>
      <p class="footer-links">
        <a href="#" routerLink="/aboutus" class="link-1">About-Us</a>
        <a href="#"routerLink="/parkingoptions" >Parking Options</a>
        <a href="#" routerLink="/reservations">Reservations</a>
        <a href="#" routerLink="/location">Location</a>
      </p>
      <p class="footer-company-name">Just Park © 2015</p>
    </div>
  
    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>444 S. Cedros Ave</span> Solana Beach, Florida</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>+1.9998887774</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">support@justpark.com</a></p>
      </div>
    </div>
  
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About the company</span>
        Short Stay and Valet parking options are just a few minutes' walk away from the terminal. 
        If you're opting for Long Stay, the car park is just 10 minutes away by bus and shuttles 
        run every 10-15 minutes.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div>
    </div>
  
  </footer>